@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
}

*{
    font-family: Outfit;
}
.fjalla-one-regular {
    font-family: "Fjalla One", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  @media (max-width: 640px) {
    a.active {
            background-color: #fb923c;
            color: white;
            border-radius: 7px;
    }
  }